<h2>Welcome</h2>

<div data-ng-show="true">
    1 + 1 = {{1+1}}
    <br />
    AngularJS is function
</div>

@if (ViewBag.WebpagesVersion != null)
{
    <br />
    
    <div>
        DI is working
    </div>
}

For more detail about the template, please refer to this URL
<a href="https://github.com/juanonsoftware/mvc4-angularjs-minimal">https://github.com/juanonsoftware/mvc4-angularjs-minimal</a>
